@{
    ViewData["Title"] = "Integritetspolicy";
}

<div class="row">
    <div class="col-md-12">
        <h1>@ViewData["Title"]</h1>

        <p>Vi hanterar säkerheten kring era personuppgifter med största respekt och hänsyn. På denna sida beskriver vi hur insamling och användning av data hanteras på vår hemsida för att följa gällande lagar och förordningar GDPR (General Data Protection Regulation).</p>

    </div>
</div>
